# nix/direnv
.direnv/
.envrc.cache
.envrc.local

# zig
.zig-cache/
zig-out/
zig-cache/
zig-pkg/

# build artifacts
*.o
*.a
*.so
result
result-*
tests/autobahn/reports/

# os / editors
.DS_Store
.vscode/
*.swp
.cache/

# certificates
certs/
